h2 {
  margin-top: 0px;
}

.react-spinner_bar {
  margin-top: 20px;
  background-color: darkgrey;
}

.navbar-brand {
    padding-left: 10px;
}

.navbar-brand > img {
  width: 30px;
  display: inline;
  margin-right: 5px;
  margin-top: -8px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  margin-right: 5px;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.list-group-item .btn-group {
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -15px;
  border: 0;
  border-radius: 0;
}

.list-group-item .btn {
  border: 0;
  border-radius: 0;
}

.remove {
  color: #aea79f;
}

.list-group-item-enter {
  opacity: 0.01;
}

.list-group-item-enter.list-group-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.list-group-item-leave {
  opacity: 1;
}

.list-group-item-leave.list-group-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.confirmation-enter {
  opacity: 0.01;
}

.confirmation-enter.confirmation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.confirmation-leave {
  opacity: 1;
}

.confirmation-leave.confirmation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
